version: '3'
services:

    db:
        image: timescale/timescaledb-postgis:2.3.0-pg13
        ports:
          - '5432:5432/tcp'
        environment:
            POSTGRES_USER: 'ami'
            POSTGRES_PASSWORD: 'secret'
            POSTGRES_DATABASE: 'ami'
        restart: always

        volumes:
            - './data:/data'
